%html
  %head
    %title Regroup!
    %link(rel="stylesheet" href="css/style.css")

  %body
    #container
      %h1 Regroup.

      %p
        Want docs? Right <a href="https://dev.cloudidentity.co.uk/confluence/display/CP/Regroup+docs">this way</a>.
          
