%html
  %head
    %title Regroup!
    %link(rel="stylesheet" href="css/style.css")

  %body
    #container
      %h1 Regroup.

      %h2 Endpoints
      %p
        Regroup is a good listener. Here's what the app likes to talk about:
        %ul
          %li
            %code GET /group/:gid/:app
            the magic behind the endpoint described
          %li
            %code PUT /group/:gid/:app
            the wickedness behind this one described as well

      %h2 More things
      %p 
        Things may break. That's the exciting part.
